.contact
    .container
        .contact__content
            .row
                .col-xl-4.col-lg-6.col-sm-12.col-md-6
                    .contact__content-item
                        .item__logo
                        .item__text
                            p.item__text-title Address
                            span.item__text-desc 123 Street, Old Trafford, London, UK
                .col-xl-4.col-lg-6.col-sm-12.col-md-6
                    .contact__content-item
                        .item__logo
                        .item__text
                            p.item__text-title Address
                            span.item__text-desc 123 Street, Old Trafford, London, UK
                .col-xl-4.col-lg-6.col-sm-12.col-md-6
                    .contact__content-item
                        .item__logo
                        .item__text
                            p.item__text-title Address
                            span.item__text-desc 123 Street, Old Trafford, London, UK

