.controls
    .container
        .controls__content
            .controls__content-left
                h3 Contact
            ul.controls__content-list
                li
                    a Home
                li
                    span >
                li
                    a Pages
                li
                    span >
                li
                    a Contact
