//start banner-top
.home-banner
    img(src="./images/home/banner.jpg", alt="")
    .home-banner__content
        h2 thực chiến
        p để trở thành creative front-end developer
        +btn('blue','khóa học')
//end banner top