//start home-course
.home-course
    .home-course__online
        .container
            .home-course__title
                +title('home','khóa học','online')
            .home-course__row
                .row
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
    .home-course__offline
        .container
            .home-course__title
                +title('home','khóa học','offline')
            .home-course__row
                .row
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
                    .col-md-4
                        +box-thumb('./images/home/imgthumb1.jpg','Front-end căn bản','One of the best corporate fashion brands in Sydney','Trần Nghĩa')
//end home-course