//start home-feature
.home-feature
    .container
        .row
            .col-md-6
                .home-feature__left
                    h3 những điều 
                        span đặc biệt
                        |tại cfd
                    .home-feature__img
                        img(src="./images/home/Rectangle48.jpg", alt="")
                        img.img-trans(src="./images/home/Rectangle49.jpg", alt="")
            .col-md-6
                .home-feature__right
                    ul
                        li
                            h4 Không cam kết đầu ra
                            p Với CFD thì việc cam kết đầu ra nó sẽ không có ý nghĩa nếu như cả người hướng dẫn và người học không thật sự tâm huyết và cố gắng. Vì thế, đội ngũ CFD sẽ làm hết sức để giúp các thành viên tạo ra sản phẩm có giá trị, thay vì cam kết.
                        li
                            h4 Không cam kết đầu ra
                            p Với CFD thì việc cam kết đầu ra nó sẽ không có ý nghĩa nếu như cả người hướng dẫn và người học không thật sự tâm huyết và cố gắng. Vì thế, đội ngũ CFD sẽ làm hết sức để giúp các thành viên tạo ra sản phẩm có giá trị, thay vì cam kết.
                        li
                            h4 Không cam kết đầu ra
                            p Với CFD thì việc cam kết đầu ra nó sẽ không có ý nghĩa nếu như cả người hướng dẫn và người học không thật sự tâm huyết và cố gắng. Vì thế, đội ngũ CFD sẽ làm hết sức để giúp các thành viên tạo ra sản phẩm có giá trị, thay vì cam kết.

//end home-feature
