//start home-registration
.home-registration
    .container
        p Bạn đã sẵn sàng tham gia cùng CFD để tạo ra những sản phẩm có giá trị chưa?
        +btn('white','đăng ký')
//end home-registration