//start home-team
.home-team
    .container
        .home-team__title
            +title('home','chúng ta','là một team')
        .row
            .col-lg-3.col-md-6.col-sm-6
                .home-team__item
                    img(src="./images/home/Rectangle27.jpg", alt="")
            .col-lg-3.col-md-6.col-sm-6
                .home-team__item
                    img(src="./images/home/Rectangle27.jpg", alt="")
            .col-lg-3.col-md-6.col-sm-6
                .home-team__item
                    img(src="./images/home/Rectangle27.jpg", alt="")
            .col-lg-3.col-md-6.col-sm-6
                .home-team__item
                    img(src="./images/home/Rectangle27.jpg", alt="")
//end home-team