.service{
    padding: 100px 0;
    &__content{
        &-item{
            position: relative;
            &.service--border{
                &::after{
                    content: '';
                    position: absolute;
                    right: -15px;
                    height: 70%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    background-color: #c5c5c5;
                }
            }
            .item{
                text-align: center;
                &__logo{
                    margin-bottom: 25px;
                    i{
                        font-size: 2.2rem;
                        
                    }
                }
                &__title{
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                &__desc{
                    line-height: 30px;
                }
            }
        }
    }
}