$hoverColor:#00AFAB;
$hoverbtn:#00827f;
$font13:1.3rem;
$font12:1.2rem;
$font11:1.1rem;
$font10:1rem;
$font14:1.4rem;
$font15:1.5rem;
$font16:1.6rem;
$font17:1.7rem;
$font18:1.8rem;
$font20:2rem;
$font22:2.2rem;
$font24:2.4rem;
$font25:2.5rem;
$font30:3rem;
$font39:3.9rem;

