//home-feedback css
.home-feedback{
    padding: 5rem 0;
    &__slide{
        // height: 50rem;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        & .slide-left{
            height: 35rem;
            &__item{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: #fff;
                top: 50%;
                transform: translateY(-50%) translateX(90px);
                padding: 3.5rem 4rem;
                color: #000;
                display: flex;
                flex-direction: column;
                z-index: 9;
                transition: all 0.4s ease-in-out;
                opacity: 1;
                visibility: hidden;
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                & h3{
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                &-decs {
                    flex: 1;
                    & p{
                        text-overflow: ellipsis;
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                & span{
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                &-title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1.8rem;
                }
                &-info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // margin-top: 6rem;
                }
            }
        }
        & .slide-right{
            position: relative;
            height: 100%;
            margin-right: auto;
            height: 50rem;
            overflow: hidden;
            &__item{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                & img{
                    width: 100%;
                    object-fit: cover;
                }
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__item{
                width: 100%;
                // height: 46rem;
                & img{
                    // width: 100%;
                    // object-fit: cover;
                }
            }
        }
        & .slide-control{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            top: 50%;
            transform: translateY(-50%);
            & a{
                width: 6rem;
                height: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #fff;
                background: #f3eded;
                &:hover{
                    border-color: #fff;
                    background: rgb(109, 101, 101);
                }
            }
            
        }
        & .flickity-button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.previous{
                left: -120%;
            }
            &.next{
                right: -5rem;
            }
        }
        @include breakpoint(991){
            // display: none;
            & .slide-control{
                z-index: 999;
                & a{
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
        @include breakpoint(767){
            flex-wrap: wrap;
            & .slide-left{
                &__item{
                    transform: translateX(0);
                    top: 0;
                }
            }
        }
        @include breakpoint(475){
            flex-wrap: wrap;
            & .slide-right{
                height: 35rem;
                &__item{
                    transform: translateX(0);
                    top: 0;
                }
            }
        }
    }
}
//name animation
.hideanimation{
    // -webkit-animation: scalehide 1.5s forwards;
    // animation:  scalehide 1.5s forwards;
    -webkit-animation: righthide 1.5s forwards;
    animation:  righthide 1.5s forwards;
   
}
.showanimation{
    // -webkit-animation: scaleshow 1.5s forwards;
    // animation:  scaleshow 1.5s forwards;
    -webkit-animation: rightshow 1.5s forwards;
    animation:  rightshow 1.5s forwards;
}
.hideanimationPrev{
    // -webkit-animation: scalehideprev 1.5s forwards;
    // animation:  scalehideprev 1.5s forwards;
    -webkit-animation:  righthideprev 1.5s forwards;
    animation:   righthideprev 1.5s forwards;
   
}
.showanimationPrev{
    // -webkit-animation: scaleshowprev 1.5s forwards;
    // animation:  scaleshowprev 1.5s forwards;
    -webkit-animation: rightshowprev 1.5s forwards;
    animation:  rightshowprev 1.5s forwards;
}
@-webkit-keyframes scalehide{
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
              opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}
  @keyframes scalehide{
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
      }
      100% {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
          opacity: 0;
      }
  }
@-webkit-keyframes scaleshow{
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
              opacity: 0.5;
            //   z-index: 2;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        // z-index: 2;
    }
}
// transition right
@-webkit-keyframes righthide{
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
            //   z-index: 99;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
        // z-index: 99;
    }
}
  @keyframes righthide{
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
                // z-index: 99;
      }
      100% {
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
          opacity: 0;
        //   z-index: 99;
      }
  }
@-webkit-keyframes rightshow{
    0% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                opacity: 1;
                // z-index: 999;
      }
      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          opacity: 1;
        //   z-index: 999;
      }
}
  @keyframes rightshow{
    0% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                opacity: 1;
                // z-index: 999;
      }
      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          opacity: 1;
        //   z-index: 999;
      }
  }
  
  //=====================
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }

  //animation btn prev
  @-webkit-keyframes scalehideprev{
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
                // z-index: 2;
      }
      100% {
          -webkit-transform: scale(0.7);
          transform: scale(0.7);
          opacity: 0;
        //   z-index: 2;
      }
}
  @keyframes scalehideprev{
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
                // z-index: 2;
      }
      100% {
          -webkit-transform: scale(0.7);
          transform: scale(0.7);
          opacity: 0;
        //   z-index: 2;
      }
  }
@-webkit-keyframes scaleshowprev {
    0% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
                opacity: 0.5;
      }
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
      }
}
  @keyframes scaleshowprev {
    0% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
                opacity: 0.5;
      }
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
      }
  }
  // right prev
  @-webkit-keyframes righthideprev{
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
                opacity: 1;
                // z-index: 999;
      }
      100% {
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          opacity: 0;
        //   z-index: 999;
      }
}
  @keyframes righthideprev{
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
                opacity: 1;
                // z-index: 999;
      }
      100% {
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          opacity: 0;
        //   z-index: 999;
      }
  }
@-webkit-keyframes rightshowprev {
    0% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
                opacity: 1;
                // z-index: 99;
      }
      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          opacity: 1;
        //   z-index: 99;
      }
}
  @keyframes rightshowprev {
    0% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
                opacity: 1;
                // z-index: 99;
      }
      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          opacity: 1;
        //   z-index: 99;
      }
  }