//home-registration css
.home-registration{
    text-align: center;
    background: $hoverColor;
    padding: 4rem 0;
    & p{
        font-size: 3rem;
        color: #fff;
        font-weight: 700;
        line-height: 1.4;
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    & .btn{
        display: inline-block;
    }
    @include breakpoint(1439){
        & p{
            font-size: 2.5rem;
            max-width: 70%;
        }
      }
      @include breakpoint(1023){
        & p{
            font-size: 2rem;
            max-width: 70%;
        }
      }
      @include breakpoint(767){
        & p{
            font-size: 1.8rem;
            max-width: 100%;
        }
      }
      @include breakpoint(424){
        & p{
            font-size: 1.6rem;;
        }
      }
}