/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Avo;
  src: url(.././font/SVN-Avo.ttf); }

body {
  background: #E5E5E5;
  font-family: Avo;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #8B9198; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

ul,
li {
  list-style: none;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: Avo;
  overflow: hidden;
  text-overflow: ellipsis; }

a {
  text-decoration: none;
  transition: .3s ease;
  color: #000; }
  a:hover {
    color: #00AFAB; }

p {
  font-size: 1.6rem;
  line-height: 1.76; }

img {
  max-width: 100%; }

p {
  margin: 0; }

.mgl-auto {
  margin-left: auto; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #F4F7F6;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out; }
  .modal h4 {
    margin-top: 2rem;
    margin-bottom: 1rem; }
  .modal-form {
    padding: 5rem 7rem;
    position: relative; }
  .modal.active {
    opacity: 1;
    visibility: visible; }

.form-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.form-input {
  width: 100%;
  height: 58px;
  flex: 1;
  font-size: 1.6rem;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #dbe0df;
  color: #C4C4C4; }

.form-btn {
  height: 6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  height: 6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600; }
  .form-btn-login {
    background: #00AFAB;
    color: #fff; }
    .form-btn-login:hover {
      background: #00827f;
      color: #fff; }
  .form-btn-google {
    color: #000;
    background: #fff; }
    .form-btn-google:hover {
      background: #ededed; }

.remember .mess-error {
  font-size: 1.4rem;
  display: inline-block;
  color: red; }

.remember .checkbox {
  margin-bottom: 1rem; }
  .remember .checkbox label {
    font-size: 1.4rem;
    color: #A6ABAB; }

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: 3rem;
  transform: rotate(45deg);
  padding: 1.5rem;
  cursor: pointer; }
  .close:hover {
    color: red; }

.btn {
  padding: 1rem 3rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-size: 1.6rem; }
  .btn-blue {
    border: 1px solid #00AFAB;
    background: #00AFAB;
    color: #fff; }
    .btn-blue:hover {
      background: #fff;
      color: #00AFAB; }
  .btn-white {
    border: 1px solid #00AFAB;
    background: #fff;
    color: #00AFAB; }
    .btn-white:hover {
      background: #00AFAB;
      color: #fff; }

h3 {
  font-size: 5rem;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 1439px) {
    h3 {
      font-size: 4rem; } }
  @media only screen and (max-width: 1023px) {
    h3 {
      font-size: 3rem; } }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 424px) {
    h3 {
      font-size: 2rem; } }

.title {
  text-align: center;
  margin-bottom: 2.4rem; }
  .title span {
    text-transform: uppercase;
    display: inline-block;
    color: #000; }

.box-thumb {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .box-thumb__img {
    position: relative;
    overflow: hidden;
    margin-bottom: -1rem; }
    .box-thumb__img .img {
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transform: scale(1); }
    .box-thumb__img:hover .box-thumb__overlay {
      opacity: 0.6;
      visibility: visible; }
    .box-thumb__img:hover .img {
      transform: scale(1.2); }
  .box-thumb__overlay {
    position: absolute;
    background: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem; }
    .box-thumb__overlay-icon ul {
      display: flex; }
      .box-thumb__overlay-icon ul li {
        margin: 0 1rem;
        color: #fff; }
        .box-thumb__overlay-icon ul li span {
          display: inline-block;
          margin-left: 5px; }
  .box-thumb__content {
    padding: 1rem 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff; }
    .box-thumb__content h3 {
      margin-top: 1.5rem; }
      .box-thumb__content h3 a {
        font-size: 2.2rem;
        font-weight: 700;
        color: #000;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .box-thumb__content p {
      color: #838383;
      flex: 1;
      margin-bottom: 2.5rem;
      display: -webkit-inline-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .box-thumb__author {
    display: flex;
    border-top: 1px solid #ccc;
    background: #fff; }
    .box-thumb__author .author {
      padding: 1.5rem;
      display: flex;
      align-items: center;
      flex: 1;
      border-right: 1px solid #ccc; }
      .box-thumb__author .author .author-img {
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 50%;
        overflow: hidden; }
        .box-thumb__author .author .author-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .box-thumb__author .author h4 {
        font-size: 1.6rem;
        margin-left: 1rem;
        font-weight: 700;
        color: #000; }
    .box-thumb__author .author-btn {
      display: flex;
      align-items: center;
      padding: 0 1.5rem; }
      .box-thumb__author .author-btn a {
        color: #00AFAB; }
      .box-thumb__author .author-btn:hover {
        background: #1e1414; }
  @media only screen and (max-width: 1439px) {
    .box-thumb__content h3 a {
      font-size: 2rem; } }
  @media only screen and (max-width: 1023px) {
    .box-thumb__content h3 a {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 767px) {
    .box-thumb__img .img {
      width: 100%;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transform: scale(1); } }

.preloader {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  display: block;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: none; }
  .preloader img {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: relative;
  z-index: 999; }
  .header a {
    display: inline-block;
    padding: 2.4rem 1.6rem; }
  .header__bar a {
    border-right: 1px solid #ccc; }
    .header__bar a:hover {
      background: #e0e0e0; }
    .header__bar a span {
      margin-left: 1rem; }
  .header__logo a {
    padding: 0; }
  .header__btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px; }
    .header__btn-login {
      color: #000; }
      .header__btn-login:hover {
        background: #e0e0e0; }
    .header__btn-signup {
      color: #fff;
      background: #00AFAB; }
      .header__btn-signup:hover {
        background: #00827f;
        color: #fff; }
  @media only screen and (max-width: 767px) {
    .header {
      justify-content: flex-start; }
      .header__login {
        display: none; }
      .header__logo {
        flex: 1;
        display: flex;
        justify-content: center; } }

.nav {
  transition: 0.4s ease-in-out;
  transform: translateX(-100%);
  width: 32rem;
  background: #fff;
  height: 100%;
  position: fixed;
  top: 7rem;
  left: 0;
  z-index: 999; }
  .nav.active {
    transform: translateX(0%); }
  .nav li:first-child {
    display: flex;
    display: none; }
    .nav li:first-child .nav-btn {
      font-weight: 600; }
      .nav li:first-child .nav-btn.btn-signup {
        border-left: 1px solid #ccc; }
      .nav li:first-child .nav-btn:hover {
        color: #00AFAB; }
    @media only screen and (max-width: 767px) {
      .nav li:first-child {
        display: flex; } }
  .nav li a {
    color: #000;
    white-space: nowrap;
    padding: 20px 35px;
    justify-content: flex-start;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    display: block;
    text-transform: uppercase; }
    .nav li a:hover {
      background: #e0e0e0; }

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.8;
  visibility: hidden;
  z-index: 90;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer; }
  .overlay.active {
    visibility: visible; }

.footer {
  background: #fff; }
  .footer-top {
    padding: 5.7rem 0; }
    .footer-top h3 {
      font-size: 2.2rem;
      line-height: 1.4;
      font-weight: 700;
      margin-bottom: 4.5rem; }
    .footer-top .adress p {
      font-size: 1.4rem;
      line-height: 1.67; }
    .footer-top .adress a {
      font-size: 1.4rem;
      color: #000; }
    .footer-top .sosical {
      margin-top: 1.2rem; }
      .footer-top .sosical a {
        margin-right: 2rem; }
    .footer-top__list {
      display: flex; }
      .footer-top__list li a {
        font-size: 1.6rem;
        color: #000;
        display: inline-block;
        padding: 0 1rem;
        text-transform: capitalize; }
        .footer-top__list li a:hover {
          color: #00AFAB; }
    .footer-top .row {
      position: relative; }
  .footer-bot {
    border-top: 1px solid #ccc;
    padding: 1.2rem 0; }
    .footer-bot__content {
      display: flex;
      justify-content: space-between;
      color: #7E7E7E; }
  @media only screen and (max-width: 767px) {
    .footer-top h3 {
      font-size: 1.8rem;
      margin-bottom: 3rem; }
    .footer-top__list {
      flex-wrap: wrap; }
    .footer-bot__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .footer-bot__content P {
        margin: 0.5rem 0;
        text-align: center; } }

#back-to-top {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column; }
  #back-to-top .line {
    width: 2px;
    background: #000;
    flex: 1; }
  #back-to-top span {
    font-size: 1rem;
    color: #000;
    transform-origin: top;
    transform: rotate(90deg) translatey(-9px);
    display: inline-block;
    padding: 1rem;
    position: relative;
    background: #FFFFFF;
    cursor: pointer;
    max-width: 2rem;
    white-space: nowrap; }

.home-banner {
  position: relative; }
  .home-banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
    .home-banner__content h2 {
      font-size: 7rem;
      line-height: 1.4;
      margin-bottom: 1.7rem;
      font-weight: 700;
      color: #fff; }
    .home-banner__content p {
      font-size: 2.2rem;
      margin-bottom: 4.8rem; }
  @media only screen and (max-width: 1439px) {
    .home-banner__content h2 {
      font-size: 6rem;
      margin-bottom: 1.7rem; }
    .home-banner__content p {
      font-size: 2rem;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 1023px) {
    .home-banner {
      height: 90vh; }
      .home-banner img {
        height: 100%;
        object-fit: cover; }
      .home-banner__content h2 {
        font-size: 5rem;
        margin-bottom: 1.5rem; }
      .home-banner__content p {
        font-size: 1.8rem;
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 767px) {
    .home-banner__content h2 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      white-space: nowrap; }
    .home-banner__content p {
      font-size: 1.6rem;
      margin-bottom: 3rem; } }

.home-about {
  padding-top: 3.3rem; }
  .home-about__content {
    max-width: 70%;
    margin: 0 auto;
    text-align: center; }
    .home-about__content p {
      font-size: 2.8rem;
      line-height: 1.67;
      margin-bottom: 1.5rem;
      color: #000; }
    .home-about__content .line {
      height: 10rem;
      width: 2px;
      background: #000;
      margin: 0 auto; }
  @media only screen and (max-width: 1439px) {
    .home-about__content p {
      font-size: 2.6rem;
      line-height: 1.67;
      margin-bottom: 1.5rem;
      color: #000; }
    .home-about__content .line {
      height: 10rem;
      width: 2px;
      background: #000;
      margin: 0 auto; } }
  @media only screen and (max-width: 1023px) {
    .home-about__content {
      max-width: 85%; }
      .home-about__content p {
        font-size: 2rem; }
      .home-about__content .line {
        height: 8rem; } }
  @media only screen and (max-width: 767px) {
    .home-about__content {
      max-width: 100%; }
      .home-about__content p {
        font-size: 1.8rem; }
      .home-about__content .line {
        height: 6rem; } }
  @media only screen and (max-width: 425px) {
    .home-about__content p {
      font-size: 1.6rem; } }

.home-course__row div[class*="col"] {
  margin-bottom: 1.5rem; }

.home-course__online {
  padding-bottom: 5rem; }

.home-course__offline {
  padding: 5rem 0;
  background: #fff; }
  .home-course__offline .box-thumb__content {
    background: #E5E5E5; }
  .home-course__offline .box-thumb__author {
    background: #E5E5E5; }

.home-feature {
  padding: 4rem 0;
  background: #000;
  color: #fff; }
  .home-feature__left {
    margin-bottom: 1.5rem; }
    .home-feature__left h3 {
      font-size: 5rem;
      line-height: 1.4;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
      color: #fff; }
      .home-feature__left h3 span {
        color: #00AFAB;
        margin-right: 1.5rem; }
  .home-feature__img {
    position: relative;
    overflow: hidden; }
    .home-feature__img .img-trans {
      position: absolute;
      top: 37%;
      left: 33%; }
  .home-feature__right h4 {
    font-size: 2.2rem;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .home-feature__right li {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 1439px) {
    .home-feature__left h3 {
      font-size: 4rem; }
    .home-feature__right h4 {
      font-size: 2rem; } }
  @media only screen and (max-width: 1023px) {
    .home-feature__left h3 {
      font-size: 3rem; }
    .home-feature__right h4 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 767px) {
    .home-feature__left h3 {
      font-size: 2.5rem; }
    .home-feature__right h4 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 424px) {
    .home-feature__left h3 {
      font-size: 2rem; }
    .home-feature__right h4 {
      font-size: 1.6rem; } }

.home-feedback {
  padding: 5rem 0; }
  .home-feedback__slide {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .home-feedback__slide .slide-left {
      height: 35rem; }
      .home-feedback__slide .slide-left__item {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #fff;
        top: 50%;
        transform: translateY(-50%) translateX(90px);
        padding: 3.5rem 4rem;
        color: #000;
        display: flex;
        flex-direction: column;
        z-index: 9;
        transition: all 0.4s ease-in-out;
        opacity: 1;
        visibility: hidden; }
        .home-feedback__slide .slide-left__item.active {
          opacity: 1;
          visibility: visible; }
        .home-feedback__slide .slide-left__item h3 {
          font-size: 2.2rem;
          font-weight: 700; }
        .home-feedback__slide .slide-left__item-decs {
          flex: 1; }
          .home-feedback__slide .slide-left__item-decs p {
            text-overflow: ellipsis;
            display: -webkit-inline-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden; }
        .home-feedback__slide .slide-left__item span {
          font-size: 1.4rem;
          font-weight: 400; }
        .home-feedback__slide .slide-left__item-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.8rem; }
        .home-feedback__slide .slide-left__item-info {
          display: flex;
          align-items: center;
          justify-content: space-between; }
    .home-feedback__slide .slide-right {
      position: relative;
      height: 100%;
      margin-right: auto;
      height: 50rem;
      overflow: hidden; }
      .home-feedback__slide .slide-right__item {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden; }
        .home-feedback__slide .slide-right__item img {
          width: 100%;
          object-fit: cover; }
        .home-feedback__slide .slide-right__item.active {
          opacity: 1;
          visibility: visible; }
      .home-feedback__slide .slide-right__item {
        width: 100%; }
    .home-feedback__slide .slide-control {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      top: 50%;
      transform: translateY(-50%); }
      .home-feedback__slide .slide-control a {
        width: 6rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #fff;
        background: #f3eded; }
        .home-feedback__slide .slide-control a:hover {
          border-color: #fff;
          background: #6d6565; }
    .home-feedback__slide .flickity-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .home-feedback__slide .flickity-button.previous {
        left: -120%; }
      .home-feedback__slide .flickity-button.next {
        right: -5rem; }
    @media only screen and (max-width: 991px) {
      .home-feedback__slide .slide-control {
        z-index: 999; }
        .home-feedback__slide .slide-control a {
          width: 4rem;
          height: 4rem; } }
    @media only screen and (max-width: 767px) {
      .home-feedback__slide {
        flex-wrap: wrap; }
        .home-feedback__slide .slide-left__item {
          transform: translateX(0);
          top: 0; } }
    @media only screen and (max-width: 475px) {
      .home-feedback__slide {
        flex-wrap: wrap; }
        .home-feedback__slide .slide-right {
          height: 35rem; }
          .home-feedback__slide .slide-right__item {
            transform: translateX(0);
            top: 0; } }

.hideanimation {
  -webkit-animation: righthide 1.5s forwards;
  animation: righthide 1.5s forwards; }

.showanimation {
  -webkit-animation: rightshow 1.5s forwards;
  animation: rightshow 1.5s forwards; }

.hideanimationPrev {
  -webkit-animation: righthideprev 1.5s forwards;
  animation: righthideprev 1.5s forwards; }

.showanimationPrev {
  -webkit-animation: rightshowprev 1.5s forwards;
  animation: rightshowprev 1.5s forwards; }

@-webkit-keyframes scalehide {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }

@keyframes scalehide {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }

@-webkit-keyframes scaleshow {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes righthide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; } }

@keyframes righthide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; } }

@-webkit-keyframes rightshow {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

@keyframes rightshow {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@-webkit-keyframes scalehideprev {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; } }

@keyframes scalehideprev {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; } }

@-webkit-keyframes scaleshowprev {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scaleshowprev {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes righthideprev {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0; } }

@keyframes righthideprev {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0; } }

@-webkit-keyframes rightshowprev {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

@keyframes rightshowprev {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

.home-team {
  padding: 5rem 0;
  background: #fff; }
  .home-team .title {
    margin-bottom: 5rem; }
  .home-team__item {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    margin: 5px 0; }
    .home-team__item:hover {
      transform: scale(1.1); }

.home-registration {
  text-align: center;
  background: #00AFAB;
  padding: 4rem 0; }
  .home-registration p {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.4;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem; }
  .home-registration .btn {
    display: inline-block; }
  @media only screen and (max-width: 1439px) {
    .home-registration p {
      font-size: 2.5rem;
      max-width: 70%; } }
  @media only screen and (max-width: 1023px) {
    .home-registration p {
      font-size: 2rem;
      max-width: 70%; } }
  @media only screen and (max-width: 767px) {
    .home-registration p {
      font-size: 1.8rem;
      max-width: 100%; } }
  @media only screen and (max-width: 424px) {
    .home-registration p {
      font-size: 1.6rem; } }
