//footer css
.footer{
    background:#fff;
    &-top{
        padding: 5.7rem 0;
        & h3{
            font-size: 2.2rem;
            line-height: 1.4;
            font-weight: 700;
            margin-bottom: 4.5rem;
        }
        & .adress{
            & p{
                font-size: 1.4rem;
                line-height: 1.67;
    
            }
            & a{
                font-size: 1.4rem;
                color: #000;
            }
        }
        & .sosical{
            margin-top: 1.2rem;
            & a{
                margin-right: 2rem;
            }
        }
        &__list{
            display: flex;
            & li{
                & a{
                    font-size: 1.6rem;
                    color: #000;
                    display: inline-block;
                    padding: 0 1rem;
                    text-transform: capitalize;
                    &:hover{
                        color: $hoverColor;
                    }
                }
            }
        }
        & .row{
            position: relative;
        }
    }
    &-bot{
        border-top: 1px solid #ccc;
        padding: 1.2rem 0;
        &__content{
            display: flex;
            justify-content: space-between;
            color: #7E7E7E;
        }
    }
    @include breakpoint(767){
        &-top{
            & h3{
                font-size: 1.8rem;
                margin-bottom: 3rem;
            }
            &__list{
                flex-wrap: wrap;
            }
        }
        &-bot{
            &__content{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                & P{
                    margin: 0.5rem 0;
                    text-align: center;
                }
            }
        }
    }
}