extends master.pug
block content
   include ./components/Home/banner.pug
   include ./components/Home/about.pug
   include ./components/Home/course.pug
   include ./components/Home/feature.pug
   include ./components/Home/feedback.pug
   include ./components/Home/team.pug
   include ./components/Home/registration.pug

   
