//start footer
.footer
    .footer-top
        .container
            .row
                .col-md-5
                    h3 Sáng tạo, tinh tế và phù hợp sẽ khiến sản phẩm của bạn trở nên khác biệt.
                    .adress
                        p Số 11, Phan Kế Bính, Quận 1, TP. Hồ Chí Minh
                        a(href="") (+84) 98 9596 913
                    .sosical
                        a(href="")
                            img(src="./images/home/facebook.svg", alt="")
                        a(href="")
                            img(src="./images/home/email.svg", alt="")
                        a(href="")
                            img(src="./images/home/skype.svg", alt="")
                .col-md-6.mgl-auto
                    ul.footer-top__list
                        li
                            a(href="") trang chủ
                        li
                            a(href="") khóa học
                        li
                            a(href="") thanh toán
                        li
                            a(href="") điều kiện
                .back-to-top#back-to-top
                    .line
                    span CUỘNG LÊN
    .footer-bot
        .container
            .footer-bot__content
                p © 2020 Bản quyền thuộc về CFD
                p Được thiết kế và lập trình bởi CFD Team
//end footer